<style>
  summary {
    list-style: none;
  }
</style>

<details>
  <summary>This is the detail summary</summary>
  <p>
    Wow look at all these details look at all these details go. So many details, have you had enough?
  </p>
</details>