{{ 'socialBar.css' | asset_url | stylesheet_tag }}

<div class="socialBarContainer">
    {% render 'icon' with 'facebook' %}
    {% render 'icon' with 'instagram' %}
    {% render 'icon' with 'twitter' %}
    {% render 'icon' with 'pinterest' %}
    {% render 'icon' with 'twitch' %}
</div>
