{{ 'details-section.css' | asset_url | stylesheet_tag }}
<div class= 'details-content'>
  <h3>{{ section.settings.cardTitle }}</h3>
  <p>{{ section.settings.cardContent }}</p>
  {% for block in section.blocks %}
      {% assign detailTitle = block.settings.detailTitle %}
      {% assign detailContents = block.settings.detailContents %}
      {%- render 'dropdownDetails', title: detailTitle, details: detailContents  -%}
  {% endfor %}
</div>

{% schema %}
{
  "name": "Details Section",
  "settings": [
    {
      "type": "text",
      "id": "cardTitle",
      "label": "Card Title"
    },
    {
      "type": "textarea",
      "id": "cardContent",
      "label": "Card Content"
    }
  ],
  "blocks": [
    {
      "name": "Detail Dropdown",
      "type": "detailDropdown",
      "settings": [
        {
          "type": "text",
          "id": "detailTitle",
          "label": "Detail Title"
        },
        {
          "type": "textarea",
          "id": "detailContents",
          "label": "Detail Contents"
        }
      ]
    }
  ]
}
{% endschema %}