{{ 'details-section.css' | asset_url | stylesheet_tag }}
<div class= 'details-content'>
  <h2>Check out these details!</h2>

  {% for block in section.blocks %}
      {% assign detailTitle = block.settings.detailTitle %}
      {% assign detailContents = block.settings.detailContents %}
      {%- render 'dropdownDetails', title: detailTitle, details: detailContents  -%}
  {% endfor %}
</div>

{% schema %}
{
  "name": "Details Section",
  "blocks": [
    {
      "name": "Detail Dropdown",
      "type": "detailDropdown",
      "settings": [
        {
          "type": "text",
          "id": "detailTitle",
          "label": "Detail Title"
        },
        {
          "type": "textarea",
          "id": "detailContents",
          "label": "Detail Contents"
        }
      ]
    }
  ]
}
{% endschema %}