<div class="footer">
    <div class="footerDetails">
        <h3>
            About the store
        </h3>
        <h4 class="strong">
            This is a theme footer
        </h4>
        {% if section.settings.description != blank %}
            <p class="body">{{section.settings.description}}</p>
            {% else %}
            <p class="body">
                Lorem ipsum dolor sit amet, 
                            consectetur adipiscing elit. 
                            Pellentesque sit amet consequat nulla. 
                            Pellentesque euismod viverra ex, 
                            id hendrerit tortor porta ac.
            </p>
        {% endif %}
        
    </div>
    <div class="socialBar">
        {% render 'socialBar' %}
    </div>
    <div class="footerMenu">
        <p>Home</p>
        <p>Blog</p>
        <p>About Us</p>
        <p>Contact Us</p>
        <p>Shop</p>
    </div>
    <div class="footerSubscribe">
        <h3>
            Join the club!
        </h3>
        <h4 class="subtitle">
            For exclusive offers,giveaways, and plant tips!
        </h4>
        <div class="textField">
            wow this is a text field
        </div>
    </div>
</div>

{% schema %}
{
    "settings": [
    {
       "type": "text",
       "id": "description",
       "label": "Description"
    }
    ]
}
{% endschema %}