{% for block in section.blocks %}
    {% assign product = block.settings.product %}
    <div class="productSection">
        {% render 'productThumbnail', media: product.featured_image %}
        <div class="productDetails">
            <h2>{{ product.title }}</h2>
            {% if product.description != blank %}
                <h4 class="subtitle">{{ product.description }}</h4>
            {% else %}
                <h4 class="subtitle">Its blank</h4>
            {% endif %}
        </div>
        <div class="infoBar">
            {% render 'ratingBar' %}
            <h4 class="subtitle">{{ product.price | money }}</h4>
            <h6 class="pretitle">tax included</h6>
        </div>
        <div class="productButtons">
            <a href="{{ shop.url }} " class="button  width100">
                <p class="buttontxt ">add to cart</p>
            </a>
        </div>
    </div>
{% endfor %}


{% schema %}
{
    "name": "Product Cards",
    "blocks": [
    {
        "name": "Card",
        "type": "Card",
        "settings": [
            {
               "type": "product",
               "id": "product",
               "label": "product label"
            }
        ]
    }
    ]
}
{% endschema %}