{{ 'index.css' | asset_url | stylesheet_tag }}

<div class="heroContainer">
    <div class="heroTextContainer">
        <h2 class="heroText">Hero Title</h2>
        <p class="subtitle heroText">Welcome to the store</p>
       
    </div>
    {{ 'product-1' | placeholder_svg_tag: 'heroImage' }}
</div>