{{ 'index.css' | asset_url | stylesheet_tag }}

<div class="heroContainer">
    <div class="heroTextContainer">
        <h2 class="heroText">Hero Title</h2>
        <p class="subtitle heroText">Welcome to the store</p>
    </div>
    {{ 'product-1' | placeholder_svg_tag: 'heroImage' }}
</div>

<div class="collage">
    <h2>About Us</h2>
    <div class="collageMenu">
      <h3>Packaging</h3>
      <h3>Delivery</h3>
      <h3>Guarantee</h3>
    </div>
    <p class="body">
        We guarantee your delivery, we put your item in a box, we drop it off at the shipment service. Your package will be tracked all the way!
    </p>
    {{ 'product-1' | placeholder_svg_tag }}
</div>