

.heroTextContainer {
    position: absolute;
   
    padding: 12px;
}

.heroImage {
    width: 100%;
    object-fit:cover; 
    height: 453px;
    
}


.heroContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
}

.heroText {
    color: #FFFFFF !important;  
    width: 100%;

    background: rgb(0, 0, 0, 0.5);

}

.articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 24px;
    gap: 36px;
}

.articleTitle {
    border-bottom: none;
}
