.details-content {
    background-color: #61A584;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    isolation: isolate;

    text-align: center;
}