.accountBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;
}

.addressBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 16px;

    width: 100%;
}

.addressButtons {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
}

.addressContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 36px;

    width: 100%;
}

.addressContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px 24px;
    gap: 36px;
}